<a href="https://colab.research.google.com/github/gustmdtmd/pythondemo/blob/main/partice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#shirt
i=0
while True:
   i+= 1
   if(i>5):
     break
   print(i*'*')

*
**
***
****
*****

In [ ]:
A = [70,60,55,75,95,90,80,80,85,100]
total=0
for score in A:
    total += score
average = total/len(A)
print(average)

79.0

In [ ]:
def sum(a,b):
    return a+b
print(sum(5,8))

def say():
    return 'Hi'
print(say())

#return값이 없다
def summ(a,b):
    print("%d, %d의 합은 %d입니다."%(a,b,a+b))

summ(15,25)
a=summ(15,25)
print(a) #none

13
Hi
15, 25의 합은 40입니다.
15, 25의 합은 40입니다.
None

In [ ]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum +i
    return sum
sum_many(1,3,5)
sum_many(1,3,5,7,9,11,13)

49

In [ ]:
def sum_mul(choice, *args):
    if choice == 'sum':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

sum_mul('sum', 1,2,3)
sum_mul('mul',2,3,4,)

24

In [ ]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s입니다."%name)
    print("나의 나이는 %s입니다,"%old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("홍길동", 28)
say_myself("홍길순", 26, False)

나의 이름은 홍길동입니다.
나의 나이는 28입니다,
남자입니다.
나의 이름은 홍길순입니다.
나의 나이는 26입니다,
여자입니다.

In [ ]:
a=1
def vartest(a):
    a = a + 1
    return a

a= vartest(a)
print(a)

2

In [ ]:
a=input()
a

Life is too short

'Life is too short'

In [ ]:
print('life','is','too short')

life is too short

In [ ]:
for i in range(10):
    print(i)

for i in range(10):
    print(i, end=' ')

0
1
2
3
4
5
6
7
8
9
0 1 2 3 4 5 6 7 8 9

In [ ]:
f = open("C:\big_study\hs.txt", 'w')
for i in range(1,11):
    data = "%d번째 줄입니다.\n"%i
    f.write(data)
f.close()

In [ ]:
def fib(n):
    if n == 0: return n
    if n == 1: return n
    return fib(n-2) + fib(n-1)

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
class Company:
  dog = '강아지는 사람을 좋아한다.'
  def __init__(self,name):
    self.name=name
  def sum(self,a,b):
    result = a+b
    print('%s님 %s + %s = %s입니다.'%(self.name,a,b,result))

pet = Company('퍼플')
pet.dog
Company.sum(pet,5,6)

퍼플님 5 + 6 = 11입니다.

In [ ]:
class FourCal:
  def setdata(self, first, second):
    self.first=first
    self.second=second
  
  def sum(self):
    result = self.first + self.second
    return result
  
  def sub(self):
    result = self.first - self.second
    return result
  
  def div(self):
    result = self.first / self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result
  
a = FourCal()
type(a)
a.setdata(4,2)
print(a.first, a.second)
print(a.sum())
print(a.div())
print(a.mul())
print(a.sub())
b = FourCal()
b.setdata(7,3)
print(b.first, b.second)

4 2
6
2.0
8
2
7 3

In [ ]:
class HousePark():
  lastname = '박'

  # def setname(self,name):
  #   self.fullname= self.lastname + name
  
  def __init__(self,name):
    self.fullname= self.lastname + name

  def travel(self,where):
    print('%s,%s여행을 가다.' %(self.fullname,where))
  
  def love(self,other):
    print("%s, %s 사랑에 빠졌네."%(self.fullname, other.fullname))
  
  def __add__(self,other):
    print('%s, %s 결혼했네.' %(self.fullname,other.fullname))
  
  def fight(self,other):
    print('%s, %s 싸우네.' %(self.fullname, other.fullname))

  def __sub__(self,other):
    print('%s, %s 이혼했네.' %(self.fullname,other.fullname))

pey = HousePark('용용')
# pey.setname('용용')
pey.travel('제주')

class HouseKim(HousePark):
  lastname='김'

ped = HouseKim('땅땅')
ped.travel('미국')
pey.love(ped)
pey + ped #__add__로 함수를 등록하면  + 롤 더해주면된다.
pey.fight(ped)
pey-ped

박용용,제주여행을 가다.
김땅땅,미국여행을 가다.
박용용, 김땅땅 사랑에 빠졌네.
박용용, 김땅땅 결혼했네.
박용용, 김땅땅 싸우네.
박용용, 김땅땅 이혼했네.

김땅땅,미국여행을 가다.

AttributeError: ignored

ModuleNotFoundError: ignored

In [12]:
import sys
sys.path.append('/content/drive/MyDrive/python_demo')
print(sys.path)

['/content', '/env/python', '/usr/lib/python38.zip', '/usr/lib/python3.8', '/usr/lib/python3.8/lib-dynload', '', '/usr/local/lib/python3.8/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.8/dist-packages/IPython/extensions', '/root/.ipython', '/content/drive/MyDrive/pthyon_demo', '/drive/MyDrive/pthyon_demo', '/content/drive/MyDrive/python_demo']

In [14]:
import mod1
kk = mod1.sum(1,5)
print(kk)

6

In [16]:
# abs 절대값
abs(-3)

3

In [20]:
# all 반복가능한 자료형 x를 입력 인수로 받으며 , 이 x가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴한다.
all([1,2.3])    #True
all([0,1,2,3])  # False

False

In [24]:
# any x 중 하나라도 참이 있을 경우 True를 리턴하고, x가 모두 거짓일 경우에만 False를 리턴한다.
# all의 반대 경우라고 할 수 있다.
any([0, '']) #False
any([0,1,2,3]) #True

True

In [26]:
# dir 객체가 자체적으로 가지고 있는 변수나 함수를 보여준다.
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [27]:
# divmod 2개의 숫자를 입력으로 받는다. 그리고 a를 b로 나눈 몫과 나머지를 튜플형태로 리턴하는 함수이다.
divmod(7,3)

(2, 1)

In [30]:
# enumerate 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아 인덱스값을 포한하는 enumerate객체를 리턴한다.
for i, name in enumerate(['body', 'foo', 'bar']):
  print(i,name)

0 body
1 foo
2 bar

In [35]:
# eval 실행가능한 문자열을 입력받아 문자열을 실행한 결과값을 리턴하는 함수이다.
eval('2+10')
eval("'z'+'oo'")
eval("divmod(4,3)")

(1, 1)

In [40]:
# filter 걸러주기
def positive(x):
  return x>0

print(list(filter(positive,[1,-3,2,0,-5,6])))
print(list(filter(lambda x : x>0,[1,-3,2,0,-5,6])))

[1, 2, 6]
[1, 2, 6]

In [56]:
# hex 정수값을 입력받아 16진수로 변환하여 리턴하는 함수
print(hex(234))

# oct 정수형태의 숫자를 8진수 문자열로 바꾸어 리턴하는 함수이다.
print(oct(85))

# ord 문자의 아스키 코드값을 리턴하는 함수이다.
print(ord('a'))

0xea
0o125
97

In [45]:
# id 객체를 입력받아 객체의 고유 주소값을 리턴하는 함수
a = 3
print(id(3))
print(id(a))
b = a
print(id(a))

11527680
11527680
11527680

In [48]:
# input 사용자 입력을 받는 함수
a = input()
b = input("Enter: ")

Hi~
Enter: Good

In [49]:
# int 문자열형태의 숫자나 소수점있는 숫자 등을 정수 형태로 리턴하는 함수
int(3.8)

3

In [54]:
# map 함수와 반복가능한 자료형을 입력받는다.
def two_times(x):
  return x*2

list(map(two_times,[1,2,3,4]))
list(map(lambda x : x*2,[1,2,3,4]))

def plus_one(x):
  return x+1 

print(list(map(plus_one, [1,2,3,4,5])))

[2, 3, 4, 5, 6]

In [57]:
# pow x의 y제곱한 결과값을 리턴하는 함수이다.
pow(2,4)

16

In [59]:
# zip 동일한 개수로 이루어진 자료형을 묶어주는 역할을 하는 함수이다.
list(zip([1,2,3],[4,5,6],[7,8,9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [71]:
# time
import time
time.time()
time.localtime()
time.asctime()
time.ctime()
time.strftime('%Y-%m-%d', time.localtime(time.time()))

for i in range(10):
  print(i)
  time.sleep(2)

0
1
2
3
4
5
6
7
8
9

In [74]:
# calendar 달력
import calendar
print(calendar.calendar(2015)) # 입력한 년도의 전체 달력

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [75]:
calendar.prcal(2015)

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [79]:
# 입력한 년도의 12월의 달력만 출력
calendar.prmonth(2015,12)

   December 2015
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [87]:
class Calculator:
  def __init__(self, numberList):
    self.numberList = numberList
  
  def sum(self):
    result = 0
    for i in self.numberList:
      result += i
    return result
  
  def avg(self):
    total = self.sum()
    return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5])
cal1.sum()
cal1.avg()

cal2 = Calculator([5,82,4,7])
cal2.sum()
cal2.avg()

24.5

In [100]:
from mod1 import sum
cal1 = Calculator([1,2,3,4,5])
cal1.sum()

15