<a href="https://colab.research.google.com/github/gustmdtmd/pythondemo/blob/main/python_02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import this

In [3]:
import antigravity

In [7]:
antigravity

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
len(keyword.kwlist)

35

In [14]:
print('Hello World')

Hello World

In [15]:
print("Hello World")

Hello World

In [21]:
print("python"); print("module")

python
module

In [19]:
a = 10; b = 20
if(a==10) and \
 (b==20):
     print("OK")

OK

In [22]:
pen=ko=100
print(pen)
print(ko)

100
100

In [23]:
language='korea'
body="tag"
print(language)
print(body)

korea
tag

In [27]:
a = 1
a = eval('a + 4')
print(a)

5

In [31]:
type(5)
type(85.3)
type([1,5,8])
type((2,6,7))

tuple

In [33]:
dir(str)
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [34]:
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [38]:
data = 1 + 2j
#실수
print(data.real)
#허수
print(data.imag)

1.0
2.0

In [40]:
x=10; y=20
divmod(x,y) # (x // y, x % y)쌍을 구한다.
pow(x,y) # x의 y승을 구한다. 제곱근

100000000000000000000

In [44]:
import sys

sys.maxsize # 현재시스템에서 제공되는 가장 큰 값

9223372036854775807

In [47]:
9223372036854775807 + 1
# 최대값에 1을 더해도 오버플로우가 발생하지 않는다.

9223372036854775808

In [70]:
s_val = 'hello python!'
s_val[1] # 'e'
s_val[0:3] # 'hel'
s_val[1:] # 'ello python!'
s_val[:3] # 'hel'
s_val[:] #s_val와 같다.
s_val[-1] # '!'
s_val[::2] # 'hlopto!' 2단계마다 가져오기
s_val[::-2] #'!otpolh'
s_val[::-1] #'!nohtyp olleh'
s_val2 = 'hello' + ' ' + 'python!'
s_val2 # 'hello python!'
s_val3 = 'win' * 3
s_val3 # 'winwinwin'
s_val3 = 'hello python!'
s_val4 = 'H' + s_val3[1:] #'Hello python!'
s_val4
len(s_val4) # 13 . 문자열의 길이

13

In [73]:
# in 연산자로 멤버 검사를 해서 부분 문자열의 존재를 확인
'python' in s_val4 #'python'가 문자열 s_val4안에 있는가? Ture
'python' not in s_val4 #'python'가 문자열 s_val4안에 없는가? False

False

In [81]:
#''' or """
s_val5 = '''돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에
들며 그 사이에 하고 싶은 일을 한다면 그 사람은 성공한 것이다.'''
s_val5

'돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에\n들며 그 사이에 하고 싶은 일을 한다면 그 사람은 성공한 것이다.'

In [83]:
# 키보드로 데이터 입력받기
input('3+2?')

3+2?5
첫번재정수 입력:10

In [98]:
input()

10

'10'

In [87]:
#console창으로 받으므로 타입이 String이다.
a=input('첫번재정수 입력:')
type(a)
b=input('두번째정수 입력:')
type(b)
c=int(a) + int(b)
print(c)

첫번재정수 입력:10
두번째정수 입력:6
16

In [90]:
# %사용
s_val6 = 'python'
s_val7 = 83.5
print('%s의 점수는 %0.1f입니다.'%(s_val6, s_val7)) #python1,2방식

python의 점수는 83.5입니다.

In [95]:
 #'{인덱스}'.format(값)
'Hello,{0} {1} {2}'.format('Python','Script',3.6) #Hello,Python Script 3.6
'Hello,{0} {2} {1}'.format('Python','Script',3.6) #Hello,Python 3.6 Script

'Hello,Python Script 3.6'

In [97]:
'Hello,{} {}'.format('Python', 3.6)
'Hello,{language} {version}'.format(language='Python', version=3.6)

'Hello,Python 3.6'

In [107]:
#변수에 값을 먼저 넣어준 후 대입
language = 'Python'
version = 3.6
'Hello, {language} {version}'

'Hello, {language} {version}'

In [108]:
#sep는 'seperator'의 약어이며 항목 사이에 삽입할 문자열을 지정
hp1 = '010'
hp2 = '2531'
hp3 = '9234'
print(hp1, hp2, hp3, sep='-')

010-2531-9234

In [115]:
print('korea'.upper()) #KOREA
print('KOREA'.lower()) #korea
print('korea'.swapcase()) #KOREA
print('KOREA'.swapcase()) #korea
print('we are the world'.title()) #We Are The World
print('we are the world'.capitalize()) #We are the world

KOREA
korea
KOREA
korea
We Are The World
We are the world

In [120]:
print('KORea'.islower())
print('korea'.islower())
print('KORea'.isupper())
print('KOREA'.isupper())

False
True
False
True

In [129]:
print('we are the world'.find('are'))
print('we are the world'.find('world')) #11
print('we are the world'.find('WORLE')) #-1 대소문자 구분함
print('we are the world'.index('are'))
print('we are the world'.index('world'))

3
11
-1
3
11

In [137]:
print('we are the world'.join('**'))

*we are the world*

In [145]:
#.isalnum() 공백 없이 문자 혹은 숫자일시 True
print('we are'.isalnum()) #False
print('weare'.isalnum()) #True
print('we123'.isalnum()) #True
print('we123'.isdecimal()) #False
print('123'.isdecimal()) #True
print('123.4'.isdecimal()) #False
print('123.4'.isdigit()) #False

False
True
True
False
True
False
False

In [146]:
#split()는 list로 리턴된다.
print('we are the world'.split())

['we', 'are', 'the', 'world']

In [152]:
l_val = [10,20,30]
type(l_val) #list

In [154]:
l_val2 = [10,'python',80.5,True]
l_val2

[10, 'python', 80.5, True]

In [165]:
l_val3=[5,10,15,20,25] 
l_val3[0]
l_val3[-1]
l_val3[0:2]
l_val3[::2]
l_val3 + l_val3 + l_val3 #연결하기
l_val3 + [30,35] #연결하기
l_val3*3 #반복하기
5 in l_val3 #멤버 검사

True

In [167]:
l_val4 = ['apple','banana',100,200]
l_val4[2]=300
l_val4

['apple', 'banana', 300, 200]

In [169]:
l_val5=['apple','banana',100,200]
l_val5[0:2]=[1,2] #지정한 인덱스[0:2] 범위의 요소를 [1,2]로 변경한다.
l_val5
l_val5[0:2]=[100] #크기가 달라도 된다.
l_val5

[100, 100, 200]

In [171]:
l_val6=['apple','banana',100,200]
l_val6[0:2]=[]
l_val6

[100, 200]

In [173]:
l_val7=[2,4,6,8]
del l_val7[0]
l_val7

[4, 6, 8]

In [181]:
l_val8=[3,6,9]
l_val8[1:1]=['red','green']
l_val8

[3, 'red', 'green', 6, 9]

In [183]:
l_val9=[2,4,6,8]
l_val9[::2]=[-1,-2,-3,-4]
l_val9

ValueError: ignored

In [184]:
l_val10=[10,20,30]
l_val10=['start',l_val10,'end']
l_val10

['start', [10, 20, 30], 'end']

In [185]:
#한 변수에서 데이터를 각각 꺼내 오는 것을 언패킹(unpacking) 지원
a=['foo','bar',4,5]
x,y,z,w=a
print(x,y,z,w)

foo bar 4 5

In [186]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [257]:
l_val9 = ['red','green','blue','white','black']
print(l_val9.append('orange'))
print(l_val9)
print(l_val9.extend(['yello','aqua']))
print(l_val9)
l_val9.extend('purple')
print(l_val9)
l_val9.insert(0,'gray')
print(l_val9)
l_val9.remove('p')
print(l_val9)
l_val9.pop()
print(l_val9)
l_val9.pop(0)
print(l_val9)
print(l_val9.index('blue'))
print(l_val9.count('white'))
l_val9.sort()
print(l_val9)
l_val9.reverse()
print(l_val9)
l_val10 = l_val9.copy() #copy()은 얇은 복사
print(l_val10)
l_val10[0]='gray'
print(l_val9)
print(l_val10)
l_val10.clear()
print('clear', l_val10)
print(l_val9)

None
['red', 'green', 'blue', 'white', 'black', 'orange']
None
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
2
1
['aqua', 'black', 'blue', 'green', 'l', 'orange', 'p', 'r', 'red', 'u', 'white', 'yello']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['gray', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
clear []
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']

In [259]:
a=['red','blue']
b=a
print(a,b)
b[0] = 'white'
print(a,b)

['red', 'blue'] ['red', 'blue']
['white', 'blue'] ['white', 'blue']

In [263]:
a = ['red','green']
b = []
print(a,b)

b.extend(a)
print(a,b)
b[0] = 'black'
print(a,b)

['red', 'green'] []
['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [265]:
a=['red','green']
b = a.copy()
print(a,b)
b[0] = 'black'
print(a,b)

['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [266]:
a=[['red','green']]
b = a.copy()
print(a,b)
b[0][0] = 'black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['black', 'green']] [['black', 'green']]

In [267]:
import copy

a=[['red','green']]
b = copy.deepcopy(a)
print(a,b)
b[0][0] = 'black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['red', 'green']] [['black', 'green']]

In [271]:
#튜플(Tuple)
#변경이 불가능한 순서가 있는 자료형이다. 튜플은 ()소괄호로 표현한다.
def test():
   return 2,3

print(test())

(2, 3)

In [273]:
t_val=(10,20,30) #t_val=10,20,30 괄호 없이도 표현 가능하지만 되도록 ()괄호를 해주라.
t_val
type(t_val)

tuple

In [275]:
t_val2=(1)
type(t_val2)  #int
t_val2=(1,)   #데이터가 한 개일때는 반드시 쉼표(,)가 있어야 한다.
t_val2=1,     #괄호는 없어도 쉼표(,)는 있어야한다.
type(t_val2)  #tuple

tuple