<a href="https://colab.research.google.com/github/gustmdtmd/pythondemo/blob/main/python_02_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
import antigravity

In [ ]:
antigravity

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
len(keyword.kwlist)

35

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("python"); print("module")

python
module

In [ ]:
a = 10; b = 20
if(a==10) and \
 (b==20):
     print("OK")

OK

In [ ]:
pen=ko=100
print(pen)
print(ko)

100
100

In [ ]:
language='korea'
body="tag"
print(language)
print(body)

korea
tag

In [ ]:
a = 1
a = eval('a + 4')
print(a)

5

In [ ]:
type(5)
type(85.3)
type([1,5,8])
type((2,6,7))

tuple

In [ ]:
dir(str)
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [ ]:
data = 1 + 2j
#실수
print(data.real)
#허수
print(data.imag)

1.0
2.0

In [ ]:
x=10; y=20
divmod(x,y) # (x // y, x % y)쌍을 구한다.
pow(x,y) # x의 y승을 구한다. 제곱근

100000000000000000000

In [ ]:
import sys

sys.maxsize # 현재시스템에서 제공되는 가장 큰 값

9223372036854775807

In [ ]:
9223372036854775807 + 1
# 최대값에 1을 더해도 오버플로우가 발생하지 않는다.

9223372036854775808

In [ ]:
s_val = 'hello python!'
s_val[1] # 'e'
s_val[0:3] # 'hel'
s_val[1:] # 'ello python!'
s_val[:3] # 'hel'
s_val[:] #s_val와 같다.
s_val[-1] # '!'
s_val[::2] # 'hlopto!' 2단계마다 가져오기
s_val[::-2] #'!otpolh'
s_val[::-1] #'!nohtyp olleh'
s_val2 = 'hello' + ' ' + 'python!'
s_val2 # 'hello python!'
s_val3 = 'win' * 3
s_val3 # 'winwinwin'
s_val3 = 'hello python!'
s_val4 = 'H' + s_val3[1:] #'Hello python!'
s_val4
len(s_val4) # 13 . 문자열의 길이

13

In [ ]:
# in 연산자로 멤버 검사를 해서 부분 문자열의 존재를 확인
'python' in s_val4 #'python'가 문자열 s_val4안에 있는가? Ture
'python' not in s_val4 #'python'가 문자열 s_val4안에 없는가? False

False

In [ ]:
#''' or """
s_val5 = '''돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에
들며 그 사이에 하고 싶은 일을 한다면 그 사람은 성공한 것이다.'''
s_val5

'돈이 다 무슨 소용인가? 사람이 아침에 일어나고 밤에 잠자리에\n들며 그 사이에 하고 싶은 일을 한다면 그 사람은 성공한 것이다.'

In [ ]:
# 키보드로 데이터 입력받기
input('3+2?')

3+2?5
첫번재정수 입력:10

In [ ]:
input()

10

'10'

In [ ]:
#console창으로 받으므로 타입이 String이다.
a=input('첫번재정수 입력:')
type(a)
b=input('두번째정수 입력:')
type(b)
c=int(a) + int(b)
print(c)

첫번재정수 입력:10
두번째정수 입력:6
16

In [ ]:
# %사용
s_val6 = 'python'
s_val7 = 83.5
print('%s의 점수는 %0.1f입니다.'%(s_val6, s_val7)) #python1,2방식

python의 점수는 83.5입니다.

In [ ]:
 #'{인덱스}'.format(값)
'Hello,{0} {1} {2}'.format('Python','Script',3.6) #Hello,Python Script 3.6
'Hello,{0} {2} {1}'.format('Python','Script',3.6) #Hello,Python 3.6 Script

'Hello,Python Script 3.6'

In [ ]:
'Hello,{} {}'.format('Python', 3.6)
'Hello,{language} {version}'.format(language='Python', version=3.6)

'Hello,Python 3.6'

In [ ]:
#변수에 값을 먼저 넣어준 후 대입
language = 'Python'
version = 3.6
'Hello, {language} {version}'

'Hello, {language} {version}'

In [ ]:
#sep는 'seperator'의 약어이며 항목 사이에 삽입할 문자열을 지정
hp1 = '010'
hp2 = '2531'
hp3 = '9234'
print(hp1, hp2, hp3, sep='-')

010-2531-9234

In [ ]:
print('korea'.upper()) #KOREA
print('KOREA'.lower()) #korea
print('korea'.swapcase()) #KOREA
print('KOREA'.swapcase()) #korea
print('we are the world'.title()) #We Are The World
print('we are the world'.capitalize()) #We are the world

KOREA
korea
KOREA
korea
We Are The World
We are the world

In [ ]:
print('KORea'.islower())
print('korea'.islower())
print('KORea'.isupper())
print('KOREA'.isupper())

False
True
False
True

In [ ]:
print('we are the world'.find('are'))
print('we are the world'.find('world')) #11
print('we are the world'.find('WORLE')) #-1 대소문자 구분함
print('we are the world'.index('are'))
print('we are the world'.index('world'))

3
11
-1
3
11

In [ ]:
print('we are the world'.join('**'))

*we are the world*

In [ ]:
#.isalnum() 공백 없이 문자 혹은 숫자일시 True
print('we are'.isalnum()) #False
print('weare'.isalnum()) #True
print('we123'.isalnum()) #True
print('we123'.isdecimal()) #False
print('123'.isdecimal()) #True
print('123.4'.isdecimal()) #False
print('123.4'.isdigit()) #False

False
True
True
False
True
False
False

In [ ]:
#split()는 list로 리턴된다.
print('we are the world'.split())

['we', 'are', 'the', 'world']

In [ ]:
l_val = [10,20,30]
type(l_val) #list

In [ ]:
l_val2 = [10,'python',80.5,True]
l_val2

[10, 'python', 80.5, True]

In [ ]:
l_val3=[5,10,15,20,25] 
l_val3[0]
l_val3[-1]
l_val3[0:2]
l_val3[::2]
l_val3 + l_val3 + l_val3 #연결하기
l_val3 + [30,35] #연결하기
l_val3*3 #반복하기
5 in l_val3 #멤버 검사

True

In [ ]:
l_val4 = ['apple','banana',100,200]
l_val4[2]=300
l_val4

['apple', 'banana', 300, 200]

In [ ]:
l_val5=['apple','banana',100,200]
l_val5[0:2]=[1,2] #지정한 인덱스[0:2] 범위의 요소를 [1,2]로 변경한다.
l_val5
l_val5[0:2]=[100] #크기가 달라도 된다.
l_val5

[100, 100, 200]

In [ ]:
l_val6=['apple','banana',100,200]
l_val6[0:2]=[]
l_val6

[100, 200]

In [ ]:
l_val7=[2,4,6,8]
del l_val7[0]
l_val7

[4, 6, 8]

In [ ]:
l_val8=[3,6,9]
l_val8[1:1]=['red','green']
l_val8

[3, 'red', 'green', 6, 9]

In [ ]:
l_val9=[2,4,6,8]
l_val9[::2]=[-1,-2,-3,-4]
l_val9

ValueError: ignored

In [ ]:
l_val10=[10,20,30]
l_val10=['start',l_val10,'end']
l_val10

['start', [10, 20, 30], 'end']

In [ ]:
#한 변수에서 데이터를 각각 꺼내 오는 것을 언패킹(unpacking) 지원
a=['foo','bar',4,5]
x,y,z,w=a
print(x,y,z,w)

foo bar 4 5

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
l_val9 = ['red','green','blue','white','black']
print(l_val9.append('orange'))
print(l_val9)
print(l_val9.extend(['yello','aqua']))
print(l_val9)
l_val9.extend('purple')
print(l_val9)
l_val9.insert(0,'gray')
print(l_val9)
l_val9.remove('p')
print(l_val9)
l_val9.pop()
print(l_val9)
l_val9.pop(0)
print(l_val9)
print(l_val9.index('blue'))
print(l_val9.count('white'))
l_val9.sort()
print(l_val9)
l_val9.reverse()
print(l_val9)
l_val10 = l_val9.copy() #copy()은 얇은 복사
print(l_val10)
l_val10[0]='gray'
print(l_val9)
print(l_val10)
l_val10.clear()
print('clear', l_val10)
print(l_val9)

None
['red', 'green', 'blue', 'white', 'black', 'orange']
None
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'p', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l', 'e']
['gray', 'red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
['red', 'green', 'blue', 'white', 'black', 'orange', 'yello', 'aqua', 'u', 'r', 'p', 'l']
2
1
['aqua', 'black', 'blue', 'green', 'l', 'orange', 'p', 'r', 'red', 'u', 'white', 'yello']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
['gray', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']
clear []
['yello', 'white', 'u', 'red', 'r', 'p', 'orange', 'l', 'green', 'blue', 'black', 'aqua']

In [ ]:
a=['red','blue']
b=a
print(a,b)
b[0] = 'white'
print(a,b)

['red', 'blue'] ['red', 'blue']
['white', 'blue'] ['white', 'blue']

In [ ]:
a = ['red','green']
b = []
print(a,b)

b.extend(a)
print(a,b)
b[0] = 'black'
print(a,b)

['red', 'green'] []
['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [ ]:
a=['red','green']
b = a.copy()
print(a,b)
b[0] = 'black'
print(a,b)

['red', 'green'] ['red', 'green']
['red', 'green'] ['black', 'green']

In [ ]:
a=[['red','green']]
b = a.copy()
print(a,b)
b[0][0] = 'black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['black', 'green']] [['black', 'green']]

In [ ]:
import copy

a=[['red','green']]
b = copy.deepcopy(a)
print(a,b)
b[0][0] = 'black'
print(a,b)

[['red', 'green']] [['red', 'green']]
[['red', 'green']] [['black', 'green']]

In [ ]:
#튜플(Tuple)
#변경이 불가능한 순서가 있는 자료형이다. 튜플은 ()소괄호로 표현한다.
def test():
   return 2,3

print(test())

(2, 3)

In [ ]:
t_val=(10,20,30) #t_val=10,20,30 괄호 없이도 표현 가능하지만 되도록 ()괄호를 해주라.
t_val
type(t_val)

tuple

In [ ]:
t_val2=(1)
type(t_val2)  #int
t_val2=(1,)   #데이터가 한 개일때는 반드시 쉼표(,)가 있어야 한다.
t_val2=1,     #괄호는 없어도 쉼표(,)는 있어야한다.
type(t_val2)  #tuple

tuple

In [ ]:
#List와 비슷하지만 한번 생성되면 Tuple은 변경할 수 없다.
t_val3=(1,2,3)
t_val[0]=100

TypeError: ignored

In [ ]:
t_val4=(10, 'pathon',20, True)
t_val4

(10, 'pathon', 20, True)

In [ ]:
t_val5=(5,10,15,20,25)
len(t_val5)  #데이터의 개수를 리턴  
t_val5[0]    #0인덱스 요소를 리턴
t_val5[-1]   #음수를 사용하면 요소 마지막부터 찾음
t_val5[0:2]  #슬라이싱
t_val5[::2]  #확장 슬라이싱, 파이썬 2.3이상
t_val5 +t_val5 +t_val5  #연결하기
t_val5+(30,35)  #연결하기
t_val5*3  #반복하기
5 in t_val5 # True

True

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t_val6=(1,2,3,2,2,3)
t_val6.count(2)   #2가 몇 개 있는가?
t_val6.index(2)   #첫 번째 2의 인덱스는?
t_val6.index(2,2) #첫 번째 2의 인덱스를 2위치부터 검색해 나간다

3

In [ ]:
t_val7=('python','hello!!')
t_val8=(t_val7,(1,2,3,))
t_val8

(('python', 'hello!!'), (1, 2, 3))

In [ ]:
#언패킹
t_val9=(10,20,30)
l,m,n =t_val9
print(l,m,n)

10 20 30

In [ ]:
#한 변수에서 데이터를 각각 꺼내오는 것을 언패킹 지원
#아래와 같이 따로 따로 받으면 된다
t_val10=((1,2),(3,4))
(x1,y1),(x2,y2)=t_val10
(x1,y1)
(x2,y2)

(3, 4)

In [ ]:
t_val12 = (1,2,3,4,5)
a,*b=t_val12
print(a,b)
print(type(a), type(b))

1 [2, 3, 4, 5]
<class 'int'> <class 'list'>

int

In [ ]:
*a,b=t_val12
print(a,b)
a,b,*c=t_val12
print(a,b,c)

[1, 2, 3, 4] 5
a: 1 2 [3, 4, 5]

In [ ]:
#*이 두개면 범위가 어디인지를 모르기때문에 오류가 생긴다.
#그래서 *기호는 한번만 사용해야한다.
a,*b,*c=t_val12

SyntaxError: ignored

In [ ]:
#튜플과 리스트의 공통점 : 순서자료형!

In [ ]:
#리스트와 튜플은 list()와 tuple()내장함수를 사용하여 상호변환가능
t_val13=(1,2,3,4,5)
l_val=list(t_val12)
l_val[0]=100
l_val
type(l_val) #list
t_val14=tuple(l_val)
t_val14
type(t_val14) #tuple

tuple

In [ ]:
#####반드시 튜플을 사용하는 3가지 경우
#첫번째는 함수에 있어서 하나 이상의 값을 반환할 때이다.
def calc(a,b):
   return a+b, a*b  #튜플을 반환한다.

x,y = calc(5,4)
print(x,y)

9 20

In [ ]:
#두번째는 튜플에 있는 값들을 함수의 인수로 사용할 때이다.
def calc(a,b):
   return a+b, a*b

args = (4,5)
calc(*args)

(9, 20)

In [ ]:
#세번째는 python 2형식의 서식 문자열에 데이터를 공급할 때이다.
"%d %f %s"%(12,3.4,'helo')

'12 3.400000 helo'

###집합(sets)
-집합은 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형이다.   
-python에서는 set과 frozenset 두가지 집합자료형을 제공한다.   
-set은 변경 가능한 집합이고,frontset은 변경 불가능한 집합이다.   
-set은 {}중괄호나 set()으로 표현한다.   
-멤버십검사, 시퀀스에서의 중복제거와 교,합,차집합같은 수학연산 수행에 사용된다.  
-다른 시퀀스와 마찬가지로 x in set, len(set), 컴프리헨션과 같은 기능을 제공하지만, 삽입순서를 기록하지 않는다. 따라서 인덱싱이나 슬라이싱은 사용이 불가능하다.  
-반복가능한 객체로 부터 집합을 만들수 있지만 모든 데이터

In [ ]:
s={}
print(s)
print(type(s)) #dict
s=set()
print(s)
print(type(s)) #set

{}
<class 'dict'>
set()
<class 'set'>

In [ ]:
print(set((3,1,2)))  #튜플로부터 집합을 만든다. 오름차순으로 생성된다.
print(set([3,1,2]))  #리스트로부터 집합을 만든다. 오름차순으로 생성된다.
print(set('python')) #문자열로부터 집합을 만든다. 오름차순으로 생성된다.
print(set((3,1,2,3,1,2,3,1,2))) #중복된 원소는 한번만 표현한다.

{1, 2, 3}
{1, 2, 3}
{'y', 'p', 'h', 'n', 'o', 't'}
{1, 2, 3}

In [ ]:
set({'one':1,'two':2}) #사전의 반복자는 키 값을 반환한다.

{'one', 'two'}

In [ ]:
#a=[1,2,3]
#b=[4,5,6]
#{a,b} #리스트는 변경이 가능하므로 집합을 생성할 때 Error가 발생함
      #{}중괄호를 사용해서 뜨는 erreo가 아니다.
      
a=(1,2,3)
b=(4,5,6)
c = {a,b}  
print(c)
print(type(c))

{(1, 2, 3), (4, 5, 6)}
<class 'set'>

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

###frozenset

-값을 변경하지 않는 범위에서 set객체와 동일하게 동작한다.   
-frozenset객체의 생성은 집합을 포함한 반복가능한 자료형으로 부터 가능하다.   
-frozenset은 frozenset()으로 생성한다.

In [ ]:
f = frozenset();
f

frozenset()

In [ ]:
f_val=frozenset([1,2,3,4,5])
f_val

frozenset({1, 2, 3, 4, 5})

In [ ]:
dir(frozenset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

###사전(dict)
-특정 키를 주면 이와 관련된 값을 돌려주는 내용기반으로 검색하는 자료형이다.   
-데이터의 저장순서가 없다.   
-내부적으로 해시 기법을 사용하기 때문에 검색 속도가 빠르다.   
-key-value형식으로 저장을 하기 때문에 key를 이용해서 value에 접근한다.  
-key값은 중복을 허용하지 않는다.

In [ ]:
#사전(dict) 생성은 {}나 dict()함수를 사용해서 생성할 수 있다
d={'one':1,'two':2}
d
type(d)
d=dict(one=1, two=2)
d

{'one': 1, 'two': 2}

In [ ]:
#zip함수를 이용해서 사전(dict)을 생성할 수 있다.
keys=['one','two','three']  #시퀀스 자료형이면 된다.
values=[1,2,3]
dict(zip(keys,values))

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### interning
파이썬은 느리기 때문에 중간에 cache 저장하는 기법이 있다.   
-5에서 256은 파이썬에서 같은 메모리 주소를 사용한다.(interning 기법)

In [ ]:
a = 100
b = 100

In [ ]:
# == 메모리에 저장된 값을 비교
a == b

True

In [ ]:
# is는 메모리 주소를 비교
a is b

True

In [ ]:
a = 257
b = 257

In [ ]:
# 값 비교 : True
a == b

True

In [ ]:
#-5 ~ 256
# 주소 비교 : False
a is b

False

### 파이썬에서 문자열일 때는 a-zA-Z0-9_는 내부적으로 interning 기법을 사용한다.

In [ ]:
a = 'python'
b = 'python'

In [ ]:
a == b

True

In [ ]:
a is b

True

In [ ]:
a = 'python3'
b = 'python3'

In [ ]:
 a == b

True

In [ ]:
a is b

True

In [ ]:
a = '파이썬'
b = '파이썬'

In [ ]:
# 값 비교
a == b

True

In [ ]:
# 주소 비교
# 한글은 무조건 다른 메모리를 할당한다.
a is b

False

In [ ]:
a = 'python version'
b = 'python version'

In [ ]:
# 값 비교
a == b

True

In [ ]:
# 주소 비교
# 영문에 공백이 포함되어 있으면 다른 메모리에 할당이 된다.
a is b

False

### 영문자일 때 공백포함되어 있어도 interning 기법을 사용할 수 있도록 intern을 사용하면 된다.

In [ ]:
from sys import intern

In [ ]:
c = intern('python programming')
d = intern('python programming')

In [ ]:
c == d

True

In [ ]:
c is d

True

In [ ]:
help(intern)

Help on built-in function intern in module sys:

intern(string, /)
    ``Intern'' the given string.

    This enters the string in the (global) table of interned strings whose
    purpose is to speed up dictionary lookups. Return the string itself or
    the previously interned string object with the same value.

In [ ]:
# 숫자일 때는 intern()을 사용할 수 없다.
a = intern(255)
b = intern(255)

TypeError: ignored